*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------- General styles */
/* -------------------------------------------------------- */
body {
  background: #d3c0aa url(../images/tile.jpg) repeat;
  font-family: sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::before {
  background: #d3c0aa;
  content: '';
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

body::after {
  background: #d3c0aa;
  content: '';
  position: fixed;
  width: 10px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -10;
}

h1 {
  font-size: 36px;
  font-family: 'serif';
}

a {
  text-decoration: none;
  color: #c92134;
  font-weight: bold;
}

a:hover {
  color: #000;
}

a.regular_btn {
  background: #c92134;
  padding: .5rem 1rem;
  line-height: 2.5rem;
  color: #fff;
}

a.regular_btn:hover {
  background: #000;
}

img {
  max-width: 90vw;
}

article {
  padding: 1rem 0;
}

article p {
  padding: 1rem 0;
  line-height: 1.5rem;
  font-size: .8rem;
}

/* -------------------------------------------------------- Header styles */
/* -------------------------------------------------------- */
header {
  background: url(../images/beurs_logo.svg) no-repeat bottom center;
  background-size: 250px;
  min-height: 10rem;
}

/* ------------- Navigation styles */
/* ------------------------------- */
nav {
  background: #c92134;
  z-index: 10;
}

nav ul li #menu_toggle {
  position: absolute;
  z-index: 100;
  top: 2rem;
  right: 1.5rem;
  color: #000;
}

nav ul li #menu_toggle.active {
  color: #fff;
}

nav ul li ul {
  transition: .6s all ease;
  height: 0px;
  overflow: hidden;
  position: relative;
  display: block;
  top: -1rem;
  left: 0;
  width: 100%;
}

nav ul li ul.active {
  height: 475px;
  padding-top: 2rem;
}

nav ul li ul a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 1rem;
}

nav ul li ul a:hover, nav ul li ul a.active {
  background: #000;
  color: #fff;
}

@media (min-width: 900px) {
  header {
    background-position: center center;
    background-size: 350px;
    min-height: 15rem;
    margin: 0;
  }
  nav {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    top: 150px;
  }
  nav ul {
    list-style: none;
  }
  nav ul li #menu_toggle {
    display: none;
  }
  nav ul li ul {
    position: relative;
    height: 50px;
    display: inline-block;
    overflow: visible;
    top: 0;
    text-align: center;
  }
  nav ul li ul li {
    display: inline-block;
  }
  nav ul li ul li a {
    transition: .4s all ease;
  }
  nav ul li ul li a:hover, nav ul li ul li a.active {
    top: -.5rem;
    position: relative;
  }
}

/* -------------------------------------------------------- Main styles */
/* -------------------------------------------------------- */
main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  section#hero {
    display: flex;
  }
}

/* ------------- Bier ranking styles */
/* --------------------------------- */
section#bier_ranking {
  background: #e3d9d2;
  border-left: 0.5rem solid #c92134;
  padding: 1rem;
  margin: 2rem 0;
}

section#bier_ranking::after {
  content: '';
  height: 50px;
  width: 50vw;
  border-bottom: 5px dotted #c92134;
}

section#bier_ranking ol {
  counter-reset: item;
  list-style: none;
  margin: 1rem 0;
}

section#bier_ranking ol li {
  line-height: 1.85rem;
  font-weight: bold;
  font-size: .85rem;
}

section#bier_ranking ol li::before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #c92134;
  font-weight: bold;
  width: 1.85rem;
  display: inline-block;
  font-family: 'serif';
}

section#bier_ranking ol li span {
  font-weight: normal;
}

/* -------------------------------------------------------- Footer styles */
/* -------------------------------------------------------- */
