*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------- General styles */
/* -------------------------------------------------------- */
body {
  background: #d3c0aa url(../images/tile.jpg) repeat;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* lines left and right of viewport */
body::before, body::after {
  background: #d3c0aa;
  content: '';
  position: fixed;
  width: 10px;
  height: 100vh;
  top: 0;
  z-index: -10;
}

body::after {
  right: 0;
}

body::before {
  left: 0;
}

/* Text styles */
h1, h2, h3, h4 {
  font-family: rockwell, sans-serif;
  font-weight: 400;
  padding: 1rem 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

article {
  padding: 1rem;
}

article p {
  padding: .5em 0em;
  line-height: 1.5rem;
  font-size: .8rem;
}

/* Acnhor tags & buttons */
a {
  text-decoration: none;
  color: #c92134;
  font-weight: bold;
}

a:hover {
  color: #000;
}

a.regular_btn {
  background: #c92134;
  padding: .5rem 1rem;
  line-height: 2.5rem;
  font-family: rockwell, sans-serif;
  font-size: 1.25rem;
  color: #fff;
}

a.regular_btn:hover {
  background: #000;
}

/* social icons * */
a svg {
  width: 36px;
  height: auto;
  fill: #c92134;
}

a svg:hover {
  fill: #000;
}

/* image styles */
img {
  width: 100%;
}

/* divider styles */
.dividerline {
  max-width: 50%;
  min-width: 10rem;
  border-top: 5px dotted #bca79a;
  margin: 4rem auto 3rem;
  z-index: -15;
}

.fullwidth {
  max-width: 100vw;
}

#telefoon_nummer {
  border: 3px solid #c92134;
  position: relative;
  text-align: center;
  max-width: 300px;
}

#telefoon_nummer p {
  background: #e3d9d2;
  margin: .3rem;
  font-family: rockwell, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .6rem;
}

/* -------------------------------------------------------- Header styles */
/* -------------------------------------------------------- */
header {
  background: url(../images/beurs_logo.svg) no-repeat bottom center;
  background-size: 250px;
  min-height: 10rem;
}

/* ------------- Navigation styles */
/* ------------------------------- */
nav {
  background: #c92134;
  z-index: 10;
}

nav ul li #menu_toggle {
  position: absolute;
  z-index: 100;
  top: 1.5rem;
  right: 1rem;
  color: #fff;
  padding: .5rem;
  background: #c92134;
}

nav ul li #menu_toggle.active {
  color: #fff;
}

nav ul li ul {
  transition: .3s height ease;
  height: 0px;
  overflow: hidden;
  position: relative;
  display: block;
  top: -1rem;
  left: 0;
  width: 100%;
}

nav ul li ul.active {
  height: 475px;
  padding-top: 2rem;
}

nav ul li ul li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 400;
  font-family: 'open-sans-condensed', sans-serif;
}

nav ul li ul li a:hover, nav ul li ul li a.active {
  background: #000;
  color: #fff;
}

@media (min-width: 780px) {
  header {
    background-position: center center;
    background-size: 350px;
    min-height: 15rem;
    margin: 0;
  }
  nav {
    max-width: 1200px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    top: 150px;
  }
  nav ul {
    list-style: none;
  }
  nav ul li #menu_toggle {
    display: none;
  }
  nav ul li ul {
    position: relative;
    height: 50px;
    display: inline-block;
    overflow: visible;
    top: 0;
    text-align: left;
  }
  nav ul li ul li {
    display: inline-block;
  }
  nav ul li ul li.language {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav ul li ul li.language a {
    transition: background 0.1s ease-in;
    border-left: 1px solid #fff;
  }
  nav ul li ul li.language a:hover {
    position: relative;
    top: -.5rem;
    right: -1rem;
    padding: 1.5rem 1.5rem;
  }
  nav ul li ul li a {
    transition: .2s background ease-in;
    font-size: .7rem;
    padding: 1rem .5rem;
  }
  nav ul li ul li a:hover, nav ul li ul li a.active {
    top: -.3rem;
    position: relative;
  }
}

@media (min-width: 980px) {
  nav {
    width: 90%;
    max-width: 1200px;
  }
  nav ul li ul {
    text-align: center;
  }
  nav ul li ul li a {
    font-size: .9rem;
    padding: 1rem;
  }
}

/* -------------------------------------------------------- Main styles */
/* -------------------------------------------------------- */
main {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 780px) {
  section#hero {
    display: flex;
  }
  section#hero article:first-of-type {
    width: 35%;
    padding: 0 1.5rem 0 0;
    min-width: 300px;
  }
  section#hero article:last-of-type {
    width: 60%;
    margin-left: auto;
  }
  section#hero article:last-of-type figure {
    overflow: hidden;
    min-height: 300px;
  }
  section#hero article:last-of-type figure img {
    min-width: 600px;
  }
}

/* ------------- contact info styles */
/* --------------------------------- */
/* line next to social buttons on the contact page */
#divderline_socialmedia {
  width: 100%;
  display: inline-flex;
}

#divderline_socialmedia a {
  width: 5%;
  min-width: 25px;
  margin-left: auto;
}

#divderline_socialmedia a svg {
  width: 100%;
}

#divderline {
  margin-top: 10px;
  width: 85%;
  height: 10px;
  border-bottom: 5px dotted #bca79a;
}

article#contact {
  display: flex;
  overflow: hidden;
}

article#contact #contact_info {
  max-height: 350px;
  width: 15%;
  min-width: 80px;
  margin-left: 5%;
  text-align: right;
}

article#contact #contact_info a {
  display: inline-flex;
  fill: #c92134;
}

article#contact #contact_info a svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: .6rem .2rem;
}

article#contact #contact_info #telefoon_nummer {
  min-width: 12rem;
  margin-left: -7rem;
}

@media (min-width: 780px) {
  #contact_info {
    background: url(../images/3512ag.svg) no-repeat bottom right;
    background-size: contain;
  }
}

/* ------------- Bier ranking styles */
/* --------------------------------- */
article#bier_ranking {
  background: #e3d9d2;
  border-left: 0.5rem solid #c92134;
  padding: 1rem;
  margin: 2rem 0;
  height: 23rem;
  margin-left: auto;
  order: 2;
}

article#bier_ranking ol {
  counter-reset: item;
  list-style: none;
  margin: 1rem 0;
}

article#bier_ranking ol li {
  line-height: 1.85rem;
  font-weight: bold;
  font-size: .85rem;
}

article#bier_ranking ol li::before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #c92134;
  font-weight: bold;
  width: 1.85rem;
  display: inline-block;
  font-family: rockwell, sans-serif;
}

article#bier_ranking ol li span {
  font-weight: normal;
}

.desktop_size {
  display: none;
}

.mobile_size {
  display: block;
}

@media (min-width: 780px) {
  section#menukaart {
    display: flex;
  }
  section#menukaart figure {
    width: 50%;
    display: none;
  }
  section#menukaart figure img {
    width: 100%;
  }
  section#menukaart figure img .desktop_size {
    display: block;
  }
  section#menukaart .mobile_size {
    display: block;
  }
  section#menukaart article {
    width: 70%;
    overflow: hidden;
  }
  section#menukaart article#bier_ranking {
    width: 60%;
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  section#menukaart figure {
    display: block;
  }
  section#menukaart .mobile_size {
    display: none;
  }
  section#menukaart .desktop_size {
    display: block;
  }
}

/* ------------- zalen info styles */
/* --------------------------------- */
@media (min-width: 780px) {
  section#zalen_info {
    display: flex;
  }
  section#zalen_info figure {
    width: 35%;
  }
  section#zalen_info article {
    width: 65%;
    padding-top: 0;
  }
  section#zalen_info article h1 {
    padding-bottom: 0;
  }
}

section#contact_form {
  display: block;
}

section#contact_form article:first-of-type {
  width: 100%;
}

section#contact_form article:last-of-type {
  width: 100%;
}

section#contact_form input[type="text"], section#contact_form textarea {
  background-color: #fff;
  color: #555;
  border: 1px solid #d3c0aa;
  width: 100%;
  margin-top: 10px;
  padding: 20px 20px;
  font-size: .9rem;
}

section#contact_form input[type="text"]:focus, section#contact_form textarea:focus {
  border: 1px solid #d3c0aa;
  outline: none;
}

section#contact_form textarea {
  height: 200px;
}

section#contact_form button {
  border: none;
  background: #c92134;
  padding: .1rem 1rem;
  line-height: 2rem;
  font-family: rockwell, sans-serif;
  font-size: 1rem;
  color: #fff;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

section#contact_form button:hover {
  background: #000;
}

section#map {
  margin-top: 50px;
}

@media (min-width: 780px) {
  section#contact_form {
    display: flex;
  }
  section#contact_form article:first-of-type {
    width: 40%;
  }
  section#contact_form article:last-of-type {
    width: 60%;
  }
}

/* -------------------------------------------------------- Footer styles */
/* -------------------------------------------------------- */
footer {
  text-align: center;
  padding: 2rem 1rem;
}

footer p {
  color: #bca79a;
}

footer p a {
  display: inline;
}

footer a {
  padding-top: 1.5rem;
  display: block;
  color: #bca79a;
}
