*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------- General styles */
/* -------------------------------------------------------- */
body {
  background: #d3c0aa url(../images/tile.jpg) repeat;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::before {
  background: #d3c0aa;
  content: '';
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

body::after {
  background: #d3c0aa;
  content: '';
  position: fixed;
  width: 10px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -10;
}

h1 {
  font-size: 36px;
  font-family: rockwell, sans-serif;
  font-weight: 700;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: #c92134;
  font-weight: bold;
}

a:hover {
  color: #000;
}

a.regular_btn {
  background: #c92134;
  padding: .5rem 1rem;
  line-height: 2.5rem;
  font-family: rockwell, sans-serif;
  font-size: 1.25rem;
  color: #fff;
}

a.regular_btn:hover {
  background: #000;
}

img {
  max-width: 100%;
}

article {
  padding: 1rem;
}

article p {
  padding: 1rem 0;
  line-height: 1.5rem;
  font-size: .8rem;
}

.dividerline {
  max-width: 50%;
  min-width: 10rem;
  border-top: 5px dotted #bca79a;
  margin: 4rem auto 3rem;
  z-index: -15;
}

.fullwidth {
  max-width: 100vw;
}

/* -------------------------------------------------------- Header styles */
/* -------------------------------------------------------- */
header {
  background: url(../images/beurs_logo.svg) no-repeat bottom center;
  background-size: 250px;
  min-height: 10rem;
}

/* ------------- Navigation styles */
/* ------------------------------- */
nav {
  background: #c92134;
  z-index: 10;
}

nav ul li #menu_toggle {
  position: absolute;
  z-index: 100;
  top: 2rem;
  right: 1.5rem;
  color: #000;
}

nav ul li #menu_toggle.active {
  color: #fff;
}

nav ul li ul {
  transition: .3s height ease;
  height: 0px;
  overflow: hidden;
  position: relative;
  display: block;
  top: -1rem;
  left: 0;
  width: 100%;
}

nav ul li ul.active {
  height: 475px;
  padding-top: 2rem;
}

nav ul li ul li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
}

nav ul li ul li a:hover, nav ul li ul li a.active {
  background: #000;
  color: #fff;
}

@media (min-width: 780px) {
  header {
    background-position: center center;
    background-size: 350px;
    min-height: 15rem;
    margin: 0;
  }
  nav {
    max-width: 1200px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    top: 150px;
  }
  nav ul {
    list-style: none;
  }
  nav ul li #menu_toggle {
    display: none;
  }
  nav ul li ul {
    position: relative;
    height: 50px;
    display: inline-block;
    overflow: visible;
    top: 0;
    text-align: left;
  }
  nav ul li ul li {
    display: inline-block;
  }
  nav ul li ul li.language {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav ul li ul li.language a {
    transition: background 0.1s ease-in;
    border-left: 1px solid #fff;
  }
  nav ul li ul li.language a:hover {
    position: relative;
    top: -.5rem;
    right: -1rem;
    padding: 1.5rem 1.5rem;
  }
  nav ul li ul li a {
    transition: .2s background ease-in;
    font-size: .7rem;
    padding: 1rem .5rem;
  }
  nav ul li ul li a:hover, nav ul li ul li a.active {
    top: -.3rem;
    position: relative;
  }
}

@media (min-width: 980px) {
  nav {
    width: 90%;
    max-width: 1200px;
  }
  nav ul li ul {
    text-align: center;
  }
  nav ul li ul li a {
    font-size: .9rem;
    padding: 1rem;
  }
}

/* -------------------------------------------------------- Main styles */
/* -------------------------------------------------------- */
main {
  padding: 1rem;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 780px) {
  section#hero {
    display: flex;
  }
  section#hero article:first-of-type {
    width: 40%;
  }
  section#hero article {
    padding: 2rem 2rem 2rem 0rem;
  }
}

/* ------------- contact info styles */
/* --------------------------------- */
article#contact {
  display: flex;
  overflow: hidden;
}

article#contact img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

article#contact #contact_info {
  width: 20%;
  text-align: right;
}

article#contact #contact_info a {
  display: inline-flex;
  fill: #c92134;
}

article#contact #contact_info a svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: .6rem .2rem;
}

article#contact #telefoon_nummer {
  border: 3px solid #c92134;
  position: relative;
  min-width: 12rem;
  margin-left: -6rem;
  text-align: center;
}

article#contact #telefoon_nummer p {
  background: #e3d9d2;
  margin: .3rem;
  font-family: rockwell, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .6rem;
}

@media (min-width: 780px) {
  #contact_info {
    background: url(../images/3512ag.svg) no-repeat bottom right;
    background-size: 6rem;
  }
}

/* ------------- Bier ranking styles */
/* --------------------------------- */
#bier_ranking {
  background: #e3d9d2;
  border-left: 0.5rem solid #c92134;
  padding: 1rem;
  margin: 2rem 0;
  height: 23rem;
  margin-left: auto;
  order: 2;
}

#bier_ranking ol {
  counter-reset: item;
  list-style: none;
  margin: 1rem 0;
}

#bier_ranking ol li {
  line-height: 1.85rem;
  font-weight: bold;
  font-size: .85rem;
}

#bier_ranking ol li::before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #c92134;
  font-weight: bold;
  width: 1.85rem;
  display: inline-block;
  font-family: rockwell, sans-serif;
}

#bier_ranking ol li span {
  font-weight: normal;
}

.desktop_size {
  display: none;
}

.mobile_size {
  display: block;
}

@media (min-width: 780px) {
  section#menukaart {
    display: flex;
  }
  section#menukaart .image_container {
    width: 70%;
  }
  section#menukaart .image_container img {
    width: 100%;
  }
  section#menukaart .image_container img.mobile_size {
    display: none;
  }
  section#menukaart .image_container img.desktop_size {
    display: block;
  }
  section#menukaart article {
    width: 70%;
    overflow: hidden;
  }
}

/* -------------------------------------------------------- Footer styles */
/* -------------------------------------------------------- */
@media (min-width: 780px) {
  section#zalen_info {
    display: flex;
  }
  section#zalen_info .image_container {
    width: 35%;
  }
  section#zalen_info article {
    width: 65%;
    padding-top: 0;
  }
  section#zalen_info article h1 {
    padding-bottom: 0;
  }
}

footer {
  text-align: center;
  padding: 2rem 1rem;
}

footer p {
  color: #bca79a;
}

footer p a {
  display: inline;
}

footer a {
  padding-top: 1.5rem;
  display: block;
  color: #bca79a;
}
