<header>
	<nav>
		<ul>
			<li><a href="#" id="menu_toggle">MENU</a><!-- Toggle -->
				<ul id="mobile_menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Reserveren</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Dansen</a></li>
					<li><a href="#">Foto's</a></li>
					<li><a href="#">De Beurs</a></li>
					<li><a href="#">Werken Bij</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li class="language"><a href="#">En</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>

